.section-careers {
  position: relative;
  transition: background-color 0.5s ease;
}
.section-careers .careers-list {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  margin-top: 60px;
}
.section-careers .careers-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  margin-left: -1.5px;
  z-index: 1;
  background-color: #e9ecef;
  height: 100%;
}
.section-careers .careers-list .careers-item {
  font-family: "Pretendard", sans-serif;
  width: 100%;
  line-height: 1.4;
  color: #999;
  text-align: right;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
}
.section-careers .careers-list .careers-item::defore {
  display: table;
  content: "";
}
.section-careers .careers-list .careers-item .careers-circle {
  width: 80px;
  height: 80px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  aspect-ratio: 1;
  opacity: 0.7;
  border-radius: 50%;
  margin: auto;
  background: radial-gradient(circle, rgb(250, 255, 120) 0%, rgba(250, 255, 120, 0.05) 80%);
  transition: 0.3s linear;
}
.section-careers .careers-list .careers-item .careers-box {
  position: relative;
}
.section-careers .careers-list .careers-item .careers-box .company-name {
  font-family: "raleway", sans-serif;
  display: block;
  font-size: 35px;
  font-weight: 700;
  margin-top: -20px;
  color: #000;
}
.section-careers .careers-list .careers-item .careers-box .careers-duration {
  display: inline-block;
  font-size: 22px;
}
.section-careers .careers-list .careers-item .careers-box .company-desc {
  margin-top: 15px;
  position: relative;
  padding-top: 20px;
}
.section-careers .careers-list .careers-item .careers-box .company-desc::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 0;
}

.section-project .project-inner {
  width: 100%;
}
.section-project .project-inner .project-list {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}
.section-project .project-inner .project-list .project-item {
  width: 100%;
  position: relative;
}
.section-project .project-inner .project-list .project-item::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  transform-origin: center;
}
.section-project .project-inner .project-list .project-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
}
.section-project .project-inner .project-list .project-item:hover::before {
  float: right;
  width: 100%;
  transition: width 0.5s ease;
}
.section-project .project-inner .project-list .project-item:hover::after {
  width: 100%;
  transition: width 0.5s ease;
}
.section-project .project-inner .project-list .project-link {
  display: inline-block;
  display: grid;
  grid-template-columns: 5fr 16fr 50fr;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 80px 0;
  margin-inline: auto;
  box-sizing: border-box;
  font-size: 20px;
}
.section-project .project-inner .project-list .project-link .project-date {
  text-align: center;
}
.section-project .project-inner .project-list .project-link .project-date .end-date {
  position: relative;
  display: block;
  padding-top: 25px;
}
.section-project .project-inner .project-list .project-link .project-date .end-date::before {
  content: "/";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.section-project .project-inner .project-list .project-link .project-name {
  font-size: 22px;
  font-weight: 700;
}
.section-project .project-inner .project-list .project-link .project-name .project-sub {
  display: block;
}
.section-project .project-inner .project-list .project-link .project-desc {
  line-height: 1.5;
  font-size: 18px;
}

@media all and (max-width: 1920px) {
  .careers-item:nth-child(even) .careers-box {
    padding-right: 50%;
    margin-right: 60px;
  }
  .careers-item:nth-child(even) .company-desc::before {
    right: 0;
  }
  .careers-item:nth-child(odd) .careers-box {
    padding-left: 50%;
    margin-left: 60px;
    text-align: left;
  }
  .careers-item:nth-child(odd) .careers-box .company-desc::before {
    left: 0;
  }
  .careers-item .careers-circle {
    position: relative;
  }
  .careers-item .careers-box {
    margin-top: -88px;
  }
}
@media screen and (max-width: 750px) {
  .section-careers {
    gap: 40px;
  }
  .section-careers .careers-list {
    align-items: flex-start;
    position: relative;
    flex-direction: column-reverse;
  }
  .section-careers .careers-list::before {
    left: 20px;
  }
  .section-careers .careers-item {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 16px;
    align-items: flex-start;
    flex-direction: row;
    margin-left: -14px;
  }
  .section-careers .careers-item .company-desc::before {
    left: 0;
  }
  .section-careers .careers-item .careers-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section-careers .careers-item .careers-box {
    padding-left: 10px;
    margin-left: 80px;
    margin-top: 0;
    text-align: left;
  }
  .section-careers .careers-item .careers-box:nth-child(even) {
    padding-right: 0;
    margin-right: 0;
  }
  .section-careers .careers-item .careers-box .company-name {
    font-size: 25px;
    margin-top: 0;
  }
  .section-careers .careers-item .careers-box .careers-duration {
    font-size: 18px;
  }
  .section-project {
    transition: all 0.3s ease;
  }
  .section-project .project-inner {
    width: 100%;
  }
  .section-project .project-inner .project-list .project-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
  .section-project .project-inner .project-list .project-item:first-child::after {
    display: none;
  }
  .section-project .project-inner .project-list .project-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    gap: 20px;
  }
  .section-project .project-inner .project-list .project-link .project-date {
    position: relative;
    text-align: left;
    display: flex;
    gap: 25px;
  }
  .section-project .project-inner .project-list .project-link .project-date .end-date {
    padding-top: 0;
  }
  .section-project .project-inner .project-list .project-link .project-date .end-date::before {
    content: "- ";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section-project .project-inner .project-list .project-link .project-name .project-sub {
    display: inline-block;
  }
}