.section-careers {
  position: relative;
}
.section-careers .careers-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}
.section-careers .careers-list .careers-item {
  width: 100%;
  line-height: 20px;
}
.section-careers .careers-list .careers-item .company-name {
  display: block;
  font-size: 25px;
}
.section-careers .careers-list .careers-item .careers-duration {
  font-family: "pretendard", sans-serif;
  display: inline-block;
  color: #999;
  font-weight: 600;
}
.section-careers .careers-list .careers-item .careers-duration .final-date {
  color: #19488b;
}

.section-project .project-inner {
  position: relative;
}
.section-project .project-inner .project-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section-project .project-inner .project-list .project-item {
  width: 50%;
  text-align: center;
  display: flex;
  text-align: left;
  padding: 5px 20px;
}
.section-project .project-inner .project-list .project-item .project-name {
  display: block;
  font-size: 25px;
}
.section-project .project-inner .project-list .project-item .project-desc {
  display: block;
  font-size: 23px;
}