.section-careers {
  position: relative;

  @mixin pretendard() {
    font-family: "pretendard", sans-serif;
  }

  .careers-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    box-sizing: border-box;

    .careers-item {
      width: 100%;
      line-height: 1;

      .company-name {
        display: block;
        font-size: 25px;
      }

      .careers-duration {
        @include pretendard();
        display: inline-block;
        color: #999;
        font-weight: 600;

        .final-date {
          color: #19488b;
        }
      }
    }
  }
}
