@mixin pretendard() {
  font-family: "pretendard", sans-serif;
}
.section-careers {
  position: relative;

  @mixin releway() {
    font-family: "raleway", sans-serif;
  }
  
  @mixin pretendard() {
    font-family: "Pretendard", sans-serif;
  }

  .careers-list {
    @include releway();
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;

    .careers-item {
      @include pretendard();
      width: 100%;
      line-height: 35px;
      
      .company-name {
        display: block;
        font-size: 32px;
      }

      .careers-duration {
        display: inline-block;
        color: #999;
        font-weight: 600;

        .final-date {
          color: #19488b;
        }
      }
    }
  }
}

.section-project {
  .project-inner {
    position: relative;
    .project-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .project-item {
        width: 50%;
        text-align: center;
        display: flex;
        text-align: left;
        padding: 5px 20px;

        .project-name {
          display: block;
          font-size: 25px;
        }

        .project-desc {
          display: block;
          font-size: 23px;
        }
      }
    }
  }
}
.section-project{
  .project-inner{
    width: 100%;

    .project-list{
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;

      .project-item{
        width: 100%;
        position: relative;

        &::before{
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #ddd;
          transform-origin: center;
        }

        &::after{
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #ddd;
        }

        &:hover{

          &::before{
            float: right;
            width: 100%;
            transition: width .5s ease;
            
          }

          &::after{
            width: 100%;
            transition: width .5s ease;
          }
        }
      }

      .project-link{
        display: inline-block;
        display: grid;
        grid-template-columns: 10fr 26fr 50fr;
        width: 100%;
        padding: 100px 0;
        margin-inline: auto;
        box-sizing: border-box;

        font-size: 20px;

        .project-name{
          font-size: 22px;
          font-weight: 700;

          .project-sub{
            display: block;
          }
        }


      }
      
    }
  }
  
}
