.footer {
  background-color: #f6ff95;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  z-index: 2;
}
.footer .footer-inner {
  margin-top: -100px;
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .footer-inner .mail-visual {
  display: inline-block;
  margin-inline: auto;
}
.footer .footer-inner .mail-visual img {
  animation: upDown 5s 3s linear infinite;
}
.footer .updown-img {
  width: 150px;
  height: 150px;
  margin-inline: auto;
}
.footer .updown-img img {
  animation: upDown 2s 0.5s ease infinite;
}
.footer .my-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}
.footer .resume-btn {
  font-size: 18px;
  line-height: 1.5;
}
.footer .footer-inner .my-links {
  display: flex;
  color: #535353;
}
.footer .footer-inner .resume-btn {
  display: flex;
}
.footer .footer-inner .resume-btn .btn-txt {
  display: block;
}
.footer .footer-inner .footer-desc {
  margin-top: 30px;
}
@media all and (max-width: 1920px) {
  .footer .my-links {
    font-size: 30px;
    gap: 50px;
  }
  .footer .mail-visual {
    width: 393px;
  }
  .footer .footer-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .footer .my-links {
    font-size: 20px;
    gap: 20px;
  }
  .footer .mail-visual {
    width: 200px;
  }
  .footer .footer-desc {
    font-size: 12px;
  }
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
}