@use "../includes/utils" as *;
@use "./reset";
@use "./intro";
@use "./header";
@use "./common";
@use "./careers";

@mixin releway() {
  font-family: "raleway", sans-serif;
}

@mixin pretendard() {
  font-family: "pretendard", sans-serif;
}

.main-page{
  background-color: #fff;
  transition: background-color .5s ease;

  &.main-dark{
    background-color: #000;
    transition: background-color .5s ease;
 
   .section-project{
      color:#fff;
    }
  }
}

.main-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .section-inner{
    @include pretendard();
    padding: 100px 60px;
  }

  .section-title {
    @include releway();
    font-size: 52px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    margin: 30px 0;
  }

  .section-inner {
    margin: 0 40px;
  }
}

@media (max-width: 1380px) {
  .plan-btn-next {
    right: 0;
  }

@media (min-width: 750px) {
}
