.visually-hidden:not(:focus) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html,
body {
  margin: 0;
  height: 100%;
}

:where(*),
:where(*::before),
:where(*::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
  max-width: 100%;
}

:where(ul, ol) {
  list-style: none;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(button) {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

.section--intro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 200;
  background: #023e87;
}
.section--intro .intro-title {
  width: 100%;
  white-space: nowrap;
  display: block;
  align-self: stretch;
  color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--text-black-white, #000);
  font-family: "Red Hat Display", sans-serif;
  font-size: fv(100);
  font-style: normal;
  font-weight: 700;
  line-height: fv(100);
  box-sizing: border-box;
  z-index: 1;
  animation: txtTop 0.5s 0.3s linear forwards, txtcolor 0.5s 0.5s linear forwards;
}
.section--intro .intro-title__top {
  transition: transform 0.5s ease-in-out;
}
.section--intro .intro-title__bottom {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.section--intro .intro-title__bottom :nth-child(8) {
  width: 30px;
}
.section--intro .intro-title .letter {
  display: inline-block;
}
@keyframes txtTop {
  from {
    transform: translate(-50%, 2%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
@keyframes txtcolor {
  from {
    color: #d9d9d9;
  }
  to {
    color: #fff;
  }
}
@keyframes introSkip {
  0% {
    clip-path: circle(150% at 0 0);
  }
  100% {
    clip-path: circle(0 at 0 0);
  }
}
.section--intro .skip {
  color: #fff;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  opacity: 0.6;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.section--intro .skip::after {
  content: "";
  margin-top: 8px;
  display: block;
  width: auto;
  height: 2px;
  align-self: stretch;
  opacity: 0.3;
  background: #d9d9d9;
}

.path-animation {
  animation: introSkip 1s ease forwards;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease-in-out;
}
.header.header--hidden {
  transform: translateY(-100%);
}
.header .logo {
  font-family: "raleway", sans-serif;
  display: block;
  font-size: 40px;
}
.header .gnb-btn {
  display: block;
  width: 34px;
  outline: none;
  border: none;
  position: relative;
}
.header .gnb-btn .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.header .gnb-btn .box span {
  display: inline-block;
  background-color: #000;
  width: 100%;
  height: 4px;
}

body {
  font-family: "Raleway", "pretendard", sans-serif;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.section-careers {
  position: relative;
}
.section-careers .careers-list {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  margin-top: 60px;
}
.section-careers .careers-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  margin-left: -1.5px;
  z-index: 1;
  background-color: #e9ecef;
  height: 100%;
}
.section-careers .careers-list .careers-item {
  font-family: "Pretendard", sans-serif;
  width: 100%;
  line-height: 1.4;
  color: #999;
  text-align: right;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
}
.section-careers .careers-list .careers-item::defore {
  display: table;
  content: "";
}
.section-careers .careers-list .careers-item .careers-circle {
  width: 80px;
  height: 80px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  aspect-ratio: 1;
  opacity: 0.7;
  border-radius: 50%;
  margin: auto;
  background: radial-gradient(circle, rgb(25, 72, 139) 0%, rgba(25, 72, 139, 0.05) 80%);
  transition: 0.3s linear;
}
.section-careers .careers-list .careers-item .careers-box {
  position: relative;
}
.section-careers .careers-list .careers-item .careers-box .company-name {
  font-family: "raleway", sans-serif;
  display: block;
  font-size: 35px;
  font-weight: 700;
  margin-top: -20px;
  color: #000;
}
.section-careers .careers-list .careers-item .careers-box .careers-duration {
  display: inline-block;
  font-size: 22px;
}
.section-careers .careers-list .careers-item .careers-box .company-desc {
  margin-top: 15px;
  position: relative;
  padding-top: 20px;
}
.section-careers .careers-list .careers-item .careers-box .company-desc::before {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 0;
}

.section-project .project-inner {
  width: 100%;
}
.section-project .project-inner .project-list {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}
.section-project .project-inner .project-list .project-item {
  width: 100%;
  position: relative;
}
.section-project .project-inner .project-list .project-item::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  transform-origin: center;
}
.section-project .project-inner .project-list .project-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
}
.section-project .project-inner .project-list .project-item:hover::before {
  float: right;
  width: 100%;
  transition: width 0.5s ease;
}
.section-project .project-inner .project-list .project-item:hover::after {
  width: 100%;
  transition: width 0.5s ease;
}
.section-project .project-inner .project-list .project-link {
  display: inline-block;
  display: grid;
  grid-template-columns: 5fr 16fr 50fr;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 80px 0;
  margin-inline: auto;
  box-sizing: border-box;
  font-size: 20px;
}
.section-project .project-inner .project-list .project-link .project-date {
  text-align: center;
}
.section-project .project-inner .project-list .project-link .project-date .end-date {
  position: relative;
  display: block;
  padding-top: 25px;
}
.section-project .project-inner .project-list .project-link .project-date .end-date::before {
  content: "/";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.section-project .project-inner .project-list .project-link .project-name {
  font-size: 22px;
  font-weight: 700;
}
.section-project .project-inner .project-list .project-link .project-name .project-sub {
  display: block;
}
.section-project .project-inner .project-list .project-link .project-desc {
  line-height: 1.5;
  font-size: 18px;
}

@media all and (max-width: 1920px) {
  .careers-item:nth-child(even) .careers-box {
    padding-right: 50%;
    margin-right: 60px;
  }
  .careers-item:nth-child(even) .company-desc::before {
    right: 0;
  }
  .careers-item:nth-child(odd) .careers-box {
    padding-left: 50%;
    margin-left: 60px;
    text-align: left;
  }
  .careers-item:nth-child(odd) .careers-box .company-desc::before {
    left: 0;
  }
  .careers-item .careers-circle {
    position: relative;
  }
  .careers-item .careers-box {
    margin-top: -88px;
  }
}
@media screen and (max-width: 750px) {
  .section-careers {
    gap: 40px;
  }
  .section-careers .careers-list {
    align-items: flex-start;
    position: relative;
    flex-direction: column-reverse;
  }
  .section-careers .careers-list::before {
    left: 20px;
  }
  .section-careers .careers-item {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 16px;
    align-items: flex-start;
    flex-direction: row;
    margin-left: -14px;
  }
  .section-careers .careers-item .company-desc::before {
    left: 0;
  }
  .section-careers .careers-item .careers-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section-careers .careers-item .careers-box {
    padding-left: 10px;
    margin-left: 80px;
    margin-top: 0;
    text-align: left;
  }
  .section-careers .careers-item .careers-box:nth-child(even) {
    padding-right: 0;
    margin-right: 0;
  }
  .section-careers .careers-item .careers-box .company-name {
    font-size: 25px;
    margin-top: 0;
  }
  .section-careers .careers-item .careers-box .careers-duration {
    font-size: 18px;
  }
  .section-project {
    transition: all 0.3s ease;
  }
  .section-project .project-inner {
    width: 100%;
  }
  .section-project .project-inner .project-list .project-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
  .section-project .project-inner .project-list .project-item:first-child::after {
    display: none;
  }
  .section-project .project-inner .project-list .project-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    gap: 20px;
  }
  .section-project .project-inner .project-list .project-link .project-date {
    position: relative;
    text-align: left;
    display: flex;
    gap: 25px;
  }
  .section-project .project-inner .project-list .project-link .project-date .end-date {
    padding-top: 0;
  }
  .section-project .project-inner .project-list .project-link .project-date .end-date::before {
    content: "- ";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section-project .project-inner .project-list .project-link .project-name .project-sub {
    display: inline-block;
  }
}
.footer {
  background-color: #f6ff95;
  margin-top: -100px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  z-index: 2;
  padding: 100px 60px;
}
.footer .resume-btn {
  display: flex;
}
.footer .resume-btn .btn-txt {
  display: block;
}
.footer .resume-btn::after {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  mask-image: url(../includes/images/arrow.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #000;
}

.main-page {
  background-color: #fff;
  transition: background-color 0.5s ease;
  padding-bottom: 50px;
}
.main-page.main-dark .main-section {
  background-color: rgb(185, 207, 250) !important;
  transition: background-color 0.5s ease;
}
.main-page.main-dark .section-project {
  color: #fff;
}

.main-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f5f1f0;
  border-radius: 50px;
  margin: -30px 0;
}
.main-section .section-inner {
  font-family: "pretendard", sans-serif;
}
.main-section .section-title {
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  margin: 30px 0;
  transition: all 0.2s ease;
}

.section-main {
  font-family: "raleway", sans-serif;
  z-index: 3;
}
.section-main .section-inner {
  margin: 0;
  width: 100%;
  height: 100%;
}
.section-main .section-inner .main-title-container {
  padding: 300px 0;
  text-align: center;
  font-family: "raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-main .section-inner .main-title-container .main-txt {
  text-align: left;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.section-main .section-inner .main-title-container .main-title {
  display: flex;
  position: relative;
  overflow: hidden;
  transition: font-size 0.2s ease;
}
.section-main .section-inner .main-title-container .main-title::after {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background-color: #b6e659;
}
.section-main .section-inner .main-title-container .sub-title {
  overflow: hidden;
  display: flex;
  transition: font-size 0.2s ease;
}
.section-main .section-inner .main-title-container .sub-txt {
  overflow: hidden;
  transition: font-size 0.2s ease;
}
.section-main .marguee-container {
  overflow: hidden;
  width: 100%;
  background-color: #98c2ff;
}
.section-main .marguee-container .marquee {
  display: flex;
  gap: 50px;
  padding: 20px 0;
  animation: marqueeTxt 10s linear infinite;
}
.section-main .marguee-container .marquee-txt {
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  width: 200%;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}

@media all and (max-width: 1920px) {
  .section-inner {
    margin: 100px 40px;
  }
  .section-inner .section-title {
    font-size: 72px;
  }
  .section-inner .main-title-container .main-title {
    font-size: 150px;
  }
  .section-inner .main-title-container .sub-title {
    font-size: 100px;
  }
  .section-inner .main-title-container .sub-txt {
    font-size: 90px;
  }
}
@media screen and (max-width: 750px) {
  .main-page {
    min-width: 320px;
  }
  .section-inner {
    margin: clamp(71.875px, 0px + 5.2083333333vw, 100px) clamp(28.75px, 0px + 2.0833333333vw, 40px);
  }
  .section-inner .section-title {
    font-size: 42px;
    font-weight: 600;
  }
  .section-inner .main-title-container {
    padding: 200px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-inner .main-title-container .main-title {
    font-size: 60px;
  }
  .section-inner .main-title-container .main-title::after {
    position: absolute;
    right: -20px;
    top: -10px;
  }
  .section-inner .main-title-container .sub-title {
    font-size: 55px;
  }
  .section-inner .main-title-container .sub-txt {
    font-size: 40px;
  }
}
@keyframes marqueeTxt {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}