@mixin pretendard() {
  font-family: "pretendard", sans-serif;
}
.section-careers {
  position: relative;

  .careers-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;

    .careers-item {
      width: 100%;
      line-height: 20px;

      .company-name {
        display: block;
        font-size: 25px;
      }

      .careers-duration {
        @include pretendard();
        display: inline-block;
        color: #999;
        font-weight: 600;

        .final-date {
          color: #19488b;
        }
      }
    }
  }
}

.section-project {
  .project-inner {
    position: relative;
    .project-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .project-item {
        width: 50%;
        text-align: center;
        display: flex;
        text-align: left;
        padding: 5px 20px;

        .project-name {
          display: block;
          font-size: 25px;
        }

        .project-desc {
          display: block;
          font-size: 23px;
        }
      }
    }
  }
}
