.footer {
  background-color: #f6ff95;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  z-index: 2;

  .footer-inner {
    margin-top: -100px;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .mail-visual {
      display: inline-block;
      margin-inline: auto;

      img {
        animation: upDown 5s 3s linear infinite;
      }
    }

    .my-links {
      display: flex;
      color: #535353;
    }
    .resume-btn {
      display: flex;

      .btn-txt {
        display: block;
      }
    }

    .footer-desc {
      margin-top: 30px;
      &::before {
        content: "";
        display: block;
        width: auto;
        height: 1px;
        background-color: #999;
        margin-bottom: 20px;
        margin-inline: auto;
      }
    }
  }
}

//pc
@media all and (max-width: 1920px) {
  .footer {
    .my-links {
      font-size: 30px;
      gap: 50px;
    }
    .mail-visual {
      width: 393px;
    }

    .footer-desc {
      font-size: 18px;
    }
  }
}

//mobile
@media screen and (max-width: 750px) {
  .footer {
    .my-links {
      font-size: 20px;
      gap: 20px;
    }
    .mail-visual {
      width: 200px;
    }
    .footer-desc {
      font-size: 12px;
    }
  }
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}
