@use "../includes/utils" as *;
@use "./reset";
@use "./intro";
@use "./header";
@use "./common";
@use "./careers";

@mixin releway() {
  font-family: "raleway", sans-serif;
}

@mixin pretendard() {
  font-family: "pretendard", sans-serif;
}

.main-section {
  .section-title {
    @include releway();
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    margin: 10px 0;
  }

  .section-inner {
    margin: 0 40px;
  }
}

@media (max-width: 1380px) {
  .plan-btn-next {
    right: 0;
  }

@media (min-width: 750px) {
}
