html,
body {
  margin: 0;
  height: 100%;
}

:where(*),
:where(*::before),
:where(*::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:where(html) {
  -webkit-text-size-adjust: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
  max-width: 100%;
}

:where(ul, ol) {
  list-style: none;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(button) {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
