.footer {
  background-color: #f6ff95;
  margin-top: -90px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  z-index: 2;

  padding: 100px 60px;

  .updown-img{
    width: 150px;
    height: 150px;
    margin-inline: auto;

    img{
      animation: upDown 2s .5s ease infinite;
    }
  }

  .my-links{
    position: relative;
  }

  .my-links-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
  }
}


@keyframes upDown {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10%);
  }
}